.idea
.DS_Store
.env
nohup.out
docker-compose.yml
docker-compose.yml.*
www/*
!www/index.php
logs/nginx/*
logs/php/*
data/composer/*
data/esdata/*
data/mongo/*
data/mysql/*
data/mysql5/*
data/redis/*

